@use '../../index' as *; // index.scss 파일을 가져와 모든 내용을 사용할 수 있게 함
// as *를 사용해서 네임스페이스(&)없이 내용 사용가능

.stock-marquee-wrap {
    background-color: green;
    min-height: 28px;
    border-bottom: 1px solid red;
}   

.stock-marquee {
    @extend %center-align;
}