.ad-top {
    text-align: center;
    font-size: 0;
    line-height: 0;

    &-inner {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        max-width: 970px;

        &-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 250px;
            padding-top: 24px;
        }
    }

    &-img {}
}

.btn-close-ad {
    // display: none;
    // position: absolute;
    right: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    background-color: #7e898f;
    text-align: center;

    border-color: red;
    // position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    color: transparent;
}