
.adBanner {
    // position: block;
    text-align: center;
    
    max-height: 294px;  // 3  transition 부드럽게 작동시키려면 초깃값 꼭 설정
    transition: max-height 0.8s ease; // 3   
    overflow: hidden; // 3
    // AdBanner의 height는 줄어들고 그 밑에 내용들이 위로 올라가면서 다 덮어지면 언마운트

    // .adBanner.hidden -> 클래스가 2개인 경우
    &.hidden {   
        max-height: 0;   // 3
    }

    .adInner {
        min-width: 970px;
        min-height: 250px;
        position: relative;
    }

    .closeButton {
        font: 400 0px / 1.2 -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Malgun Gothic", "맑은 고딕", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
        color: white;
        background: rgb(126, 137, 143);
        border-radius: 0px;
        cursor: pointer;
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        text-align: center;
    
        &:hover {
            background: rgba(0, 0, 0, 0.9);
        }
    
        &::before {
            content: "X";
            font-size: 16px;
        }
    }
}

.adContent {
    // display: inline-block;
    // max-width: 970px;
    // position: relative;
}



.adImage {
    // vertical-align: bottom;
}
